<div class="chat_header">
  <div class="chat_title">
    <p>hogehoge</p>
  </div>
  <div class="chat_button">
    <div class="chat_button_end">
    <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat_window">

</div>

<div class="chat_footer">
  <div class="chat_form">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>